.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slideUp {
  animation: slideUp 0.7s ease-in-out forwards;
}

.error-popup {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  background: white;
  border: 1px solid #ff4444;
  padding: 20px;
  z-index: 1000;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.typing-effect {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  /* Adjust animation time and steps based on length of the longest word */
}

/* Optional: Animation to mimic the caret at the end of typing */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; } /* Change to match the color of your text */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
